html {
    scroll-behavior: smooth;
}

body{
  -ms-overflow-style: none; /* IE and Edge */
   scrollbar-width: none; /* Firefox */
   margin:0;
   font-family: ;
}

.main_background{
  background-color: gray;

  position:fixed;
  z-index: -1;
  width:100%;
  height:100%;

  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

#Backvideo{
  position:fixed;
  z-index:-3;
  height:100%;
  width:auto;
  left:-100px;
}

.maincha{
  font-size:20pt;
  font-family:sans-serif;
}

#Maincha1{
  width:70vw;
  animation: admixture-bigger 1s;
}

#Maincha2{
  margin-top:40px;
  width:35vw;
}

#Maincha3{
  position:fixed;
  bottom:4%;
  font-family:'KoPub Dotum Bold',sans-serif;
  color:white;
}



.sub_container{
  position:fixed;
  width:100%;
  height:150px;
  z-index:3;

  display:flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;

  /* background-color:yellow; */
}

.sub_container a{
  width:180px;
  height:180px;

  /* background-color:green; */
}

.sub_text{
  background-image:url("../im/HYU-ARE.png");
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;

  margin:0 0 0 40px;
}

.main_container{
  width:100%;
  height:7200px;
  position:absolute;
  top:100%;

  background-color:black;
}

.feed{
  margin: 0 0;
  width:100%;
  height:1700px;
  color:white;

  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.feed img{
  width:100%;
}

#Feed1 img{
  width:63vw;
}

#Feed2{
  height:2175px;
}

#Feed4{
  height:1300px;
}

footer{
  position:absolute;
  top:7000px;
  height:200px;
  width:100%;
  background-color:black;
  bottom:0;
  color:white;

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family:"KoPub Dotum Light", sans-serif;
}

.fin_char{
  font-size:16pt;
}

.fin_char:nth-child(1){
  margin-bottom:20px;
}






@media screen and (max-width: 1068px){

}
